/*Arrow */
@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width ;
  }

.container1 {
    position: relative;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: black;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
25% {
  opacity: 1;

}
33% {
  opacity: 1;
  transform: translateY(30px);
}
67% {
  opacity: 1;
  transform: translateY(40px);
}
100% {
  opacity: 0;
  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
}
}

@keyframes pulse {
to {
  opacity: 1;
}
}

.navbar-brand {
    font-size: x-large;
    font-family: 'B612', sans-serif;
}
.navbar-nav {
    font-size: large;
    font-family: 'B612', sans-serif;
}
  

.container{
    padding-top: 9%;
    padding-bottom: 9%;
}
.me {
    height: auto;
    width: 100%;
}

.metext {
    float: right;
    text-align: center;
    padding-right: 5%;
}

.firstsentence {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-size: xx-large;
}

.introtext {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-size: medium;
}

a:hover {
    color: grey;
}

.card {
    width: 80%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 5%; /* Added */
}

.card-body {
    
}


.heading {
    font-family: 'B612', sans-serif;
    color: white;
    background-color: #62606c;
    font-size: xx-large;
    text-align: center;

}

.waterloologo, .govpic, .easthacks {
    height: auto;
    width: 20%;
    float: left;
}

.list-group-flush {
    
}

.btn {
    font-family: 'B612', sans-serif;
}

.card-header{
    
}
.card-text {
    float: right;
}

#Contact {
    padding-top: 1%;
    padding-bottom: 2%;
}

.contacttext {
    font-family: 'B612', sans-serif;
    font-size: large;
    text-align: center;
    padding-top: 1%;

}

.github, .email, .linkedin {
    height: auto;
    width: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.card {
    font-family: 'B612', sans-serif;
}
